---
import Layout from "@/layouts/Layout.astro"

import AlterHeader from "@/components/AlterHeader.astro"
import Footer from "@/components/Footer.astro"
import Wave from "@/components/Wave.astro"
import UpdateUserPasswordForm from "@/components/forms/UpdateUserPasswordForm.svelte"

const session = Astro.cookies.get("session")
const user = Astro.cookies.get("user")

if (!session || !user) {
	return Astro.redirect("/login")
}

const userData = {
	userId: user.value,
	sessionToken: session.value,
}

const data = await fetch("https://control-horas-api.onrender.com/user/checkSession", {
	method: "POST",
	headers: {
		"Content-Type": "application/json",
	},
	body: JSON.stringify(userData),
})
	.then((response) => response.json())
	.catch((error) => error as Error)

if (data.error) {
	Astro.cookies.delete("session")
	Astro.cookies.delete("user")
	return Astro.redirect("/login")
}

const { user_name: userName, email, role, is_verified: isVerified } = data.userData
---

<Layout
	title="GestionAppmos - La aplicación de gestión horaria para clases particulares"
	description="La nueva aplicación que va a revolucionar la forma de gestionarte los horarios para las clases particulares. Busca profesores, o date a conocer a nivel mundial."
>
	<Wave class="absolute right-0 -z-10 h-auto rotate-180" />
	<AlterHeader userName={userName} />

	<section class="flex flex-col">
		<div class="flex h-screen items-center justify-center">
			<img
				src="img/man-question.svg"
				alt="Ilustración de un hombre pensando una contraseña"
				class="mr-6 hidden lg:block"
			/>
			<div class="w-max max-w-md border border-orange-500 bg-white p-8 shadow-md">
				<UpdateUserPasswordForm client:idle />
			</div>
		</div>
	</section>

	<Footer />
</Layout>
