---
import AlterHeader from "@/components/AlterHeader.astro"
import Footer from "@/components/Footer.astro"
import Wave from "@/components/Wave.astro"
import CreateClassForm from "@/components/forms/CreateClassForm.svelte"
import Layout from "@/layouts/Layout.astro"
---

<Layout
	title="GestionAppmos - La aplicaci贸n de gesti贸n horaria para clases particulares"
	description="La nueva aplicaci贸n que va a revolucionar la forma de gestionarte los horarios para las clases particulares. Busca profesores, o date a conocer a nivel mundial."
>
	<AlterHeader />
	<div
		class="mx-auto flex h-full items-center justify-center lg:ml-[220px] lg:flex lg:items-center lg:justify-center"
	>
		<CreateClassForm client:idle />
		<img
			src="img/man-take-form.svg"
			alt="Ilustraci贸n de una persona con un libro"
			class="mt-32 hidden lg:block"
		/>
		<Wave class="absolute right-0 -z-10 h-auto" />
	</div>
	<Footer />
</Layout>
