---
import Layout from "@/layouts/Layout.astro"

import StudentDash from "@/sections/dashboard/StudentDash.astro"
import TeacherDash from "@/sections/dashboard/TeacherDash.astro"

import AlterHeader from "@/components/AlterHeader.astro"
import Footer from "@/components/Footer.astro"
import Wave from "@/components/Wave.astro"

const session = Astro.cookies.get("session")
const user = Astro.cookies.get("user")

if (!session || !user) {
	return Astro.redirect("/login")
}

const userData = {
	userId: user.value,
	sessionToken: session.value,
}

const data = await fetch("https://control-horas-api.onrender.com/user/checkSession", {
	method: "POST",
	headers: {
		"Content-Type": "application/json",
	},
	body: JSON.stringify(userData),
})
	.then((response) => response.json())
	.catch((error) => error as Error)

if (data.error) {
	Astro.cookies.delete("session")
	Astro.cookies.delete("user")
	return Astro.redirect("/login")
}

const { user_name: userName, email, role, is_verified: isVerified } = data.userData
---

<Layout
	title="GestionAppmos - La aplicación de gestión horaria para clases particulares"
	description="La nueva aplicación que va a revolucionar la forma de gestionarte los horarios para las clases particulares. Busca profesores, o date a conocer a nivel mundial."
>
	<AlterHeader userName={userName} />
	<Wave class="absolute right-0 -z-10 h-auto" />
	<main class="mx-auto max-w-screen-xl py-2.5">
		{role === 0 && <StudentDash />}
		{role === 1 && <TeacherDash />}
	</main>
	<Footer />
</Layout>
