---
import Layout from "@/layouts/Layout.astro"

import LoginSection from "@/sections/LoginSection.astro"

import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import Wave from "@/components/Wave.astro"
---

<Layout
	title="Inicia sesión y empieza a gestionar tus clases particulares"
	description="Inicia sesión y disfruta de todos los beneficios que tenemos para ti."
>
	<div class="absolute inset-0 -z-10 w-full overflow-hidden">
		<Wave class="h-auto rotate-180" />
	</div>
	<Header />
	<main>
		<LoginSection />
	</main>
	<Footer />
</Layout>
