<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Logout</title>
		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet"
		/>
	</head>

	<body class="flex h-screen items-center justify-center bg-gray-100">
		<div class="mx-auto max-w-md rounded-md bg-white p-6 shadow-md">
			<h2 class="mb-4 text-center text-2xl font-semibold">¡La sesión se ha cerrado con éxito!</h2>
			<p class="text-center text-gray-600">
				Gracias por usar nuestra aplicación. ¡Esperamos verte pronto de nuevo!
			</p>
		</div>
	</body>
</html>

<script>
	setTimeout(() => {
		window.location.href = "/"
	}, 3000)
</script>
