---
import Layout from "@/layouts/Layout.astro"

import AlterHeader from "@/components/AlterHeader.astro"
import Button from "@/components/Button.astro"
import Footer from "@/components/Footer.astro"
import UpdateUserDataForm from "@/components/forms/UpdateUserDataForm.svelte"

import LogoutIcon from "@/icons/LogoutIcon.astro"

const session = Astro.cookies.get("session")
const user = Astro.cookies.get("user")

if (!session || !user) {
	return Astro.redirect("/login")
}

const userData = {
	userId: user.value,
	sessionToken: session.value,
}

const data = await fetch("https://control-horas-api.onrender.com/user/checkSession", {
	method: "POST",
	headers: {
		"Content-Type": "application/json",
	},
	body: JSON.stringify(userData),
})
	.then((response) => response.json())
	.catch((error) => error as Error)

if (data.error) {
	Astro.cookies.delete("session")
	Astro.cookies.delete("user")
	return Astro.redirect("/login")
}

const { user_name: userName, email, role, is_verified: isVerified } = data.userData
---

<Layout
	title="GestionAppmos - La aplicación de gestión horaria para clases particulares"
	description="La nueva aplicación que va a revolucionar la forma de gestionarte los horarios para las clases particulares. Busca profesores, o date a conocer a nivel mundial."
>
	<AlterHeader userName={userName} />
	<section
		class="mx-auto my-16 w-[720px] flex-col items-center justify-center gap-4 rounded border border-black p-8"
	>
		<h2 class="text-lm mb-4 flex text-center font-sans font-bold">Información Personal</h2>
		<UpdateUserDataForm client:idle />
	</section>

	<section
		class="mx-auto mb-24 w-[720px] flex-col items-center justify-center gap-4 rounded border border-black p-8"
	>
		<h2 class="text-lm mb-4 flex text-center font-sans font-bold">Contraseña</h2>
		<p class="my-5">Si quieres actualizar tu contraseña. ¡Pulsa aquí!</p>
		<a
			href="/change-password"
			class="justify-center
				rounded-full
				bg-orange-500
				px-4
				py-2
				text-center
				text-lg
				font-bold
				text-white hover:bg-primary"
			>Actualizar contraseña
		</a>
	</section>
	<div class="mx-auto mb-8 flex w-[720px] items-center justify-between">
		<button class="flex items-center gap-2 text-lg font-semibold" id="logout_button">
			<LogoutIcon />
			Cerrar Sesión
		</button>
		<a
			href="/dashboard"
			class="justify-center
		rounded-full
		bg-orange-500
		px-4
		py-2
		text-center
		text-lg
		font-bold
		text-white hover:bg-primary"
			>Volver al Dashboard</a
		>
	</div>
	<Footer />
</Layout>

<script>
	import { getCookies } from "@/utils/session-info"

	const logoutButton = document.getElementById("logout_button")
	logoutButton.addEventListener("click", async (event) => {
		event.preventDefault()

		const cookies = getCookies()

		const formData = new FormData()
		formData.append("userId", cookies.user)
		formData.append("sessionToken", cookies.session)

		const response = await fetch("/api/logout", {
			method: "POST",
			body: formData,
		})
		if (response.ok) {
			document.cookie = "user=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
			document.cookie = "session=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;"
			window.location.href = "/logout"
		} else {
			console.error("Error al cerrar la sesión")
		}
	})
</script>
