---
import Layout from "d:/Universidad/II - Ingeniería informática/Año 3/40979 - Producción de software/Proyecto/control-horas/src/layouts/Layout.astro";
import Box from "../components/boxTeacherRol.svelte";
---

<Layout title="Register">
  <main>
    <Box />
  </main>

  <style>
    main {
      background-color: white;
      height: 500px;
    }
  </style>
</Layout>
