---
import Button from "@/components/Button.astro"
import Footer from "@/components/Footer.astro"
import Header from "@/components/Header.astro"
import Textbox from "@/components/Textbox.astro"
import Textpassword from "@/components/Textpassword.astro"
import Wave from "@/components/Wave.astro"
import Layout from "@/layouts/Layout.astro"

if (!Astro.cookies.has("session")) {
	return Astro.redirect("/login")
}
---

<Layout
	title="GestionAppmos - La aplicación de gestión horaria para clases particulares"
	description="La nueva aplicación que va a revolucionar la forma de gestionarte los horarios para las clases particulares. Busca profesores, o date a conocer a nivel mundial."
>
	<Wave class="absolute right-0 -z-10 h-auto rotate-180" />
	<Header />
	<body>
		<section class="flex flex-col">
			<div class="flex h-screen items-center justify-center">
				<img
					src="img/man-question.svg"
					alt="Ilustración de un hombre pensando una contraseña"
					class="mr-6 hidden lg:block"
				/>
				<div class="w-max max-w-md border border-orange-500 bg-white p-8 shadow-md">
					<form>
						<h2 class="mb-4 mr-32 text-2xl font-bold">Nueva Contraseña</h2>
						<div class="mb-4">
							<Textpassword content="Email" />
						</div>
						<Textbox type="email" id="email" content="" placeholder="Email" />
						<div class="mb-4">
							<Textpassword content="Contraseña" />
						</div>
						<Textbox type="password" id="oldpassword" content="" placeholder="Contraseña" />
						<div class="mb-4">
							<Textpassword content="Repetir Contraseña" />
						</div>
						<Textbox type="password" id="newpassword" content="" placeholder="Contraseña" />
						<div class="mt-9 flex items-center justify-center">
							<Button content="Confirmar Contraseña" />
						</div>
					</form>
				</div>
			</div>
		</section>
	</body>

	<Footer />
</Layout>
