---
import Logo from "@/icons/Logo.astro"

const { userName } = Astro.props
---

<header
	class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-center gap-4 px-8 py-2 sm:justify-between"
>
	<a
		href="/"
		class="inline-block h-min transition ease-in-out hover:scale-[1.1]"
		aria-current="page"
		aria-label="Enlace que te lleva a la página principal de presentación"
	>
		<Logo class="object-contain" />
	</a>
	<div class="flex items-center justify-end gap-8">
		<div class="mx-3 my-auto font-medium">
			<button
				class="inline-flex justify-center gap-2 rounded px-3 py-2 transition ease-in-out hover:bg-neutral-100"
				id="lang-menu"
				aria-haspopup="true"
				aria-expanded="true"
				onclick="_googleTranslateElementInit()"
			>
				<img src="icons/translation.svg" alt="Icono de traducción" />
				Translate
			</button>
			<div class="absolute mt-2 hidden" id="google_translate_element"></div>
		</div>
		<a href="/profile" class="flex h-min items-center justify-end">
			<span class="font-semibold tracking-tight">{userName}</span>
		</a>
	</div>
</header>

<script>
	const langMenu = document.querySelector("#lang-menu")
	const langMenuContent = document.querySelector("#google_translate_element")
	langMenu.addEventListener("click", () => {
		langMenuContent.classList.toggle("hidden")
	})
</script>

<script
	type="text/javascript"
	src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
	/* eslint-disable no-undef */
	function _googleTranslateElementInit() {
		google.translate.TranslateElement({ pageLanguage: "es" }, "google_translate_element")
	}
	/* eslint-enable no-undef */
</script>
