---
import Logo from "@/icons/Logo.astro"
import User from "@/icons/User.astro"
---

<header
	class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-center gap-4 px-8 py-2 sm:justify-between"
>
	<a
		href="/"
		class="inline-block h-min transition ease-in-out hover:scale-[1.1]"
		aria-current="page"
		aria-label="Enlace que te lleva a la página principal de presentación"
	>
		<Logo class="object-contain" />
	</a>

	<a href="/profile" class="flex h-min items-center justify-end">
		<span class="font-semibold tracking-tight">Nombre X</span>
		<User />
	</a>
</header>
