---
interface Props {
  content: string;
}

const { content } = Astro.props;
---

<button
  class="mx-auto
  w-56
  justify-center
  rounded-full
  bg-orange-500
  py-2
  text-lg
  font-bold
  text-white
  hover:bg-orange-600"
>
  {content}
</button>
