---
import Form from "../components/Form.astro"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Página de inicio">
	<section class="flex content-center justify-center">
		<div class="flex min-h-screen content-center items-center justify-center">
			<div class="border border-orange-500 bg-white p-8 shadow-md">
				<Form />
			</div>
		</div>

		<img
			src="undrow.svg"
			alt="Ilustración de un hombre agarrando la tarjeta de login"
			class="hidden lg:block"
		/>
	</section>
</Layout>
