---
import Form from '../components/Form.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Página de inicio">

  <div class="min-h-screen flex justify-center items-center">
    <div class="bg-white shadow-md p-8 max-w-md w-full">
      <Form />
    </div>
  </div>

</Layout>

<style>
  .login_card {
  }
</style>
