---
import Form from "@/components/Form.astro"
import Layout from "@/layouts/Layout.astro"
---

<Layout
	title="GestionAppmos - La aplicaci贸n de gesti贸n horaria para clases particulares"
	description="La nueva aplicaci贸n que va a revolucionar la forma de gestionarte los horarios para las clases particulares. Busca profesores, o date a conocer a nivel mundial."
>
	<section class="flex content-center justify-center">
		<div class="flex min-h-screen content-center items-center justify-center">
			<div class="border border-orange-500 bg-white p-8 shadow-md">
				<Form />
			</div>
		</div>

		<img
			src="img/person-walk.svg"
			alt="Ilustraci贸n de una persona agarrando la tarjeta de login"
			class="hidden lg:block"
		/>
	</section>
</Layout>
