---
import XTwitter from "@/icons/X-twitter.astro";
import Instagram from "@/icons/Instagram.astro";
import Tiktok from "@/icons/Tiktok.astro";
---

<footer
  class="flex flex-wrap justify-left lg:justify-center mx-auto bg-secondary text-white py-12"
>
  <div class="flex flex-col w-36 lg:w-fit mx-8 lg:mx-20 mb-8">
    <a class="mb-2 text-base lg:text-xl font-bold">Sobre Nosotros</a>
    <a
      href="#"
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      >¿Quiénes somos?</a
    >
    <a
      href="#"
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      >Nuestros valores</a
    >
    <a
      href="#"
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      >Gestión de clases</a
    >
    <a
      href="#"
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      >Países</a
    >
    <a
      href="#"
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      >Políticas de uso</a
    >
  </div>
  <div class="flex flex-col w-36 lg:w-fit mx-8 lg:mx-20 mb-8">
    <a class="mb-2 text-base lg:text-xl font-bold">Materias</a>
    <a
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      href="#">Python</a
    >
    <a
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      href="#">Biología</a
    >
    <a
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      href="#">Baile</a
    >
    <a
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      href="#">Dibujo</a
    >
    <a
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      href="#">Física</a
    >
  </div>
  <div class="flex flex-col w-36 lg:w-fit mx-8 lg:mx-20 mb-8">
    <a class="mb-2 text-base lg:text-xl font-bold">Más Información</a>
    <a
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      href="#">FAQS</a
    >
    <a
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      href="#">Cookies</a
    >
    <a
      class="mb-1 text-sm lg:text-lg w-fit hover:text-primary transition ease-in-out"
      href="#">Políticas de uso</a
    >
  </div>
  <div class="flex flex-col w-36 lg:w-fit mx-8 lg:mx-20 mb-8">
    <a class="mb-2 text-base lg:text-xl font-bold">Síguenos</a>
    <div class="flex">
      <a href="#" class="mr-2"><XTwitter /></a>
      <a href="#" class="mr-2"><Instagram /></a>
      <a href="#" class="mr-2"><Tiktok /></a>
    </div>
    <a class="mt-2">Contáctanos si necesitas asistencia</a>
  </div>
</footer>
