<footer class="flex justify-center">
  <div class="flex flex-col px-12">
    <h3>Sobre Nosotros</h3>
    <a href="#">¿Quiénes somos?</a>
    <a href="#">Nuestros valores</a>
    <a href="#">Gestión de clases</a>
    <a href="#">Países</a>
    <a href="#">Políticas de uso</a>
  </div>
  <div class="flex flex-col px-12">
    <h3>Materias</h3>
    <a href="#">Python</a>
    <a href="#">Biología</a>
    <a href="#">Baile</a>
    <a href="#">Dibujo</a>
    <a href="#">Física</a>
  </div>
  <div class="flex flex-col px-12">
    <h3>Más Información</h3>
    <a href="#">FAQS</a>
    <a href="#">Cookies</a>
    <a href="#">Políticas de uso</a>
  </div>
  <div class="flex flex-col px-12">
    <h3>Síguenos</h3>
    <div class="flex"></div>
    <a>Contáctanos si necesitas asistencia</a>
  </div>
</footer>
