
---
import Instagram from "../icons/Instagram.astro"
import Tiktok from "../icons/Tiktok.astro"
import XTwitter from "../icons/X-twitter.astro"
---

<footer class="flex w-full flex-wrap justify-center bg-black py-12 text-white lg:justify-center">
	<div class="mx-8 mb-8 flex flex-col lg:mx-20 lg:mb-0 lg:w-fit">
		<h3 class="mb-2 text-base font-bold lg:text-xl">Sobre Nosotros</h3>
		<a href="/about" class="text-sm transition ease-in-out hover:text-primary lg:text-lg"
			>¿Quiénes somos?</a
		>
		<a href="/values" class="text-sm transition ease-in-out hover:text-primary lg:text-lg"
			>Nuestros valores</a
		>
		<a href="/class-management" class="text-sm transition ease-in-out hover:text-primary lg:text-lg"
			>Gestión de clases</a
		>
		<a href="/countries" class="text-sm transition ease-in-out hover:text-primary lg:text-lg"
			>Países</a
		>
		<a href="/usage-policies" class="text-sm transition ease-in-out hover:text-primary lg:text-lg"
			>Políticas de uso</a
		>
	</div>
	<div class="mx-8 mb-8 flex flex-col lg:mx-20 lg:mb-0 lg:w-fit">
		<h3 class="mb-2 text-base font-bold lg:text-xl">Materias</h3>
		<a class="text-sm transition ease-in-out hover:text-primary lg:text-lg" href="/python">Python</a
		>
		<a class="text-sm transition ease-in-out hover:text-primary lg:text-lg" href="/biology"
			>Biología</a
		>
		<a class="text-sm transition ease-in-out hover:text-primary lg:text-lg" href="/dance">Baile</a>
		<a class="text-sm transition ease-in-out hover:text-primary lg:text-lg" href="/picture"
			>Dibujo</a
		>
		<a class="text-sm transition ease-in-out hover:text-primary lg:text-lg" href="/physics"
			>Física</a
		>
	</div>
	<div class="mx-8 mb-8 flex flex-col lg:mx-20 lg:mb-0 lg:w-fit">
		<h3 class="mb-2 text-base font-bold lg:text-xl">Más Información</h3>
		<a class="text-sm transition ease-in-out hover:text-primary lg:text-lg" href="/faqs">FAQS</a>
		<a class="text-sm transition ease-in-out hover:text-primary lg:text-lg" href="/cookies"
			>Cookies</a
		>
		<a class="text-sm transition ease-in-out hover:text-primary lg:text-lg" href="/usage-policies"
			>Políticas de uso</a
		>
	</div>
	<div class="mx-8 mb-8 flex flex-col lg:mx-20 lg:mb-0 lg:w-fit">
		<h3 class="mb-2 text-base font-bold lg:text-xl">Síguenos</h3>
		<div class="flex gap-5">
			<a
				href="https://x.com"
				rel="noopener noreferrer"
				aria-label="Enlace que lleva al perfil de XTwitter"><XTwitter /></a
			>
			<a
				href="https://instagram.com"
				rel="noopener noreferrer"
				aria-label="Enlace que lleva al perfil de Instagram"><Instagram /></a
			>
			<a
				href="https://tiktok.com"
				rel="noopener noreferrer"
				aria-label="Enlace que lleva al perfil de Tiktok"><Tiktok /></a
			>
		</div>
		<p class="mt-2">Contáctanos si necesitas asistencia</p>
	</div>
</footer>
