
---
import Input from "../components/Input.astro";
import Title from "../components/TitleLogin.astro"
---

<form class="flex flex-col gap-y-12">
	<Title title="¿Es tu primera vez? Regístrate" />
  <div class="relative">
    <Input type="email" id="mail" content="Correo:" placeholder=" " />
  </div>
  <div class="relative">
    <Input type="password" id="passwd" content="Contraseña:" placeholder=" " />
  </div>
  <button
    type="submit"
    class="mx-auto w-56 bg-orange-500 text-white py-2 px-4 rounded-full font-bold text-lg hover:bg-orange-600 justify-center"
  >
    Iniciar Sesión
  </button>
</form>

<style>
  form {
    max-width: 22rem;
  }

  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
