---
import Input from "../components/Input.astro";
---

<section class="flex flex-col">
  <img
    src="logo.svg"
    alt="Ilustración de una persona con un libro"
    class="hidden lg:block"
  />
  <form class="flex flex-col gap-y-12">
    <h2 class="flex font-sans text-2xl font-bold justify-center">
      <a href="/registro" class="text-blue-500 hover:underline">Regístrate</a>
    </h2>
    <div class="relative">
      <Input type="email" id="mail" content="Correo:" placeholder=" " />
    </div>
    <div class="relative">
      <Input
        type="password"
        id="passwd"
        content="Contraseña:"
        placeholder=" "
      />
    </div>
    <button
      type="submit"
      class="mx-auto w-56 bg-orange-500 text-white py-2 px-4 rounded-full font-bold text-lg hover:bg-orange-600 justify-center"
    >
      Iniciar Sesión
    </button>
  </form>
</section>
