---
import Logo from "@/icons/Logo.astro"
---

<header
	class="mx-auto flex max-w-screen-xl flex-wrap items-center justify-around py-2.5 text-black lg:justify-between"
>
	<a
		href="/"
		class="mb-3 ml-2 transition ease-in-out hover:scale-[1.1] md:mb-0"
		aria-current="page"
		aria-label="Enlace que te lleva a la página principal de presentación"
	>
		<Logo class="object-contain" />
	</a>
	<div class="flex items-center gap-4 lg:order-2">
		<a href="/login" class="px-4 py-2 transition ease-in-out hover:text-primary">Iniciar Sesión</a>
		<a
			href="/signup"
			class="rounded-lg border-2 border-primary px-4 py-2 transition ease-in-out hover:bg-primary hover:text-white"
			>Registrarse</a
		>
		<button
			data-collapse-toggle="mobile-menu"
			type="button"
			class="ml-1 inline-flex items-center rounded-lg p-2 text-sm hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 lg:hidden"
			aria-controls="mobile-menu"
			aria-expanded="false"
			aria-label="Botón para desplegar menú en dispositivos móviles"
		>
			<svg
				class="h-6 w-6"
				fill="currentColor"
				viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
					clip-rule="evenodd"></path>
			</svg>
			<svg
				class="hidden h-6 w-6"
				fill="currentColor"
				viewBox="0 0 20 20"
				xmlns="http://www.w3.org/2000/svg"
			>
				<path
					fill-rule="evenodd"
					d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
					clip-rule="evenodd"></path>
			</svg>
		</button>
	</div>
	<nav
		class="hidden w-full items-center justify-between lg:order-1 lg:flex lg:w-auto"
		id="mobile-menu"
	>
		<ul
			class="mt-4 flex items-center justify-center font-medium max-sm:flex-wrap lg:mt-0 lg:space-x-8"
		>
			<li>
				<a
					href="/#learn"
					class="mx-3 rounded px-3 py-2 transition ease-in-out hover:bg-neutral-100 lg:mx-0"
					>Aprender</a
				>
			</li>
			<li>
				<a
					href="/#teach"
					class="mx-3 rounded px-3 py-2 transition ease-in-out hover:bg-neutral-100 lg:mx-0"
					>Enseñar</a
				>
			</li>
			<li>
				<a
					href="/#reviews"
					class="mx-3 rounded px-3 py-2 transition ease-in-out hover:bg-neutral-100 lg:mx-0"
					>Opiniones</a
				>
			</li>
			<li
				class="mx-3 rounded px-3 py-2 transition ease-in-out hover:bg-neutral-100 max-sm:mt-2 lg:mx-0"
			>
				<button
					class="inline-flex justify-center"
					id="lang-menu"
					aria-haspopup="true"
					aria-expanded="true"
					onclick="googleTranslateElementInit()"
				>
					<img src="icons/translation.svg" alt="Icono de traducción" />
				</button>
				<div class="absolute mt-2 hidden" id="google_translate_element"></div>
			</li>
		</ul>
	</nav>
</header>

<script>
	const mobileMenu = document.querySelector("[data-collapse-toggle='mobile-menu']")
	const mobileMenuContent = document.querySelector("#mobile-menu")
	mobileMenu.addEventListener("click", () => {
		mobileMenuContent.classList.toggle("hidden")
	})
	const langMenu = document.querySelector("#lang-menu")
	const langMenuContent = document.querySelector("#google_translate_element")
	langMenu.addEventListener("click", () => {
		langMenuContent.classList.toggle("hidden")
	})
</script>

<script
	type="text/javascript"
	src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
<script type="text/javascript">
	function googleTranslateElementInit() {
		google.translate.TranslateElement({ pageLanguage: "es" }, "google_translate_element")
	}
</script>
