---
import Logo from '@/icons/Logo.astro'
---

<header
	class="flex flex-wrap justify-around items-center mx-auto max-w-screen-xl bg-white py-2.5 text-black">
	<a href="/" class="hover:scale-[1.1] transition ease-in-out">
		<Logo class="object-contain" />
	</a>
	<nav>
		<ul class="flex flex-col mt-4 font-medium lg:flex-row lg:space-x-8 lg:mt-0">
			<li>
				<a
					href="#"
					class="px-3 py-2 rounded hover:bg-neutral-100 transition ease-in-out"
					>Aprender</a
				>
			</li>
			<li>
				<a
					href="#"
					class="px-3 py-2 rounded hover:bg-neutral-100 transition ease-in-out"
					>Enseñar</a
				>
			</li>
			<li>
				<a
					href="#"
					class="px-3 py-2 rounded hover:bg-neutral-100 transition ease-in-out"
					>Opiniones</a
				>
			</li>
		</ul>
	</nav>
	<div class="flex items-center lg:order-2 gap-4">
		<a href="#" class="px-4 py-2 hover:text-primary transition ease-in-out"
			>Iniciar Sesión</a
		>
		<a
			href="#"
			class="px-4 py-2 border-2 rounded-lg border-primary hover:bg-primary hover:text-white transition ease-in-out"
			>Registrarse</a
		>
	</div>
</header>
