---
import ButtonTeacherRol from "./ButtonTeacherRol.astro";
import ButtonStudentRol from "./ButtonStudentRol.astro";
---

<header class="flex justify-between items-center pr-11 pl-11 pt-7">
  <svg
    width="336"
    height="57"
    viewBox="0 0 336 57"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <g filter="url(#filter0_d_171_376)">
      <path
        d="M23.7625 34.95H23.6125C23.3875 36.225 22.675 37.3 21.475 38.175C20.3 39.025 18.725 39.45 16.75 39.45C15.2 39.45 13.7625 39.1625 12.4375 38.5875C11.1375 38.0125 10 37.1625 9.025 36.0375C8.075 34.8875 7.325 33.475 6.775 31.8C6.225 30.125 5.95 28.1875 5.95 25.9875C5.95 23.7875 6.225 21.85 6.775 20.175C7.35 18.475 8.15 17.05 9.175 15.9C10.2 14.75 11.425 13.875 12.85 13.275C14.275 12.675 15.8625 12.375 17.6125 12.375C19.9625 12.375 21.9625 12.8875 23.6125 13.9125C25.2625 14.9375 26.5625 16.4125 27.5125 18.3375L23.5 20.7C23.025 19.575 22.3125 18.6375 21.3625 17.8875C20.4375 17.1375 19.1875 16.7625 17.6125 16.7625C15.6625 16.7625 14.1 17.3625 12.925 18.5625C11.775 19.7375 11.2 21.4875 11.2 23.8125V28.0125C11.2 30.3125 11.7875 32.0625 12.9625 33.2625C14.1375 34.4625 15.7125 35.0625 17.6875 35.0625C18.4625 35.0625 19.1875 34.975 19.8625 34.8C20.5375 34.6 21.125 34.3125 21.625 33.9375C22.125 33.5625 22.525 33.1 22.825 32.55C23.125 32 23.275 31.35 23.275 30.6V28.9125H18.1375V24.75H28.0375V39H23.7625V34.95ZM41.3843 39.45C39.9343 39.45 38.6343 39.2125 37.4843 38.7375C36.3593 38.2375 35.3968 37.55 34.5968 36.675C33.8218 35.775 33.2218 34.7 32.7968 33.45C32.3718 32.175 32.1593 30.75 32.1593 29.175C32.1593 27.625 32.3593 26.225 32.7593 24.975C33.1843 23.725 33.7843 22.6625 34.5593 21.7875C35.3343 20.8875 36.2843 20.2 37.4093 19.725C38.5343 19.225 39.8093 18.975 41.2343 18.975C42.7593 18.975 44.0843 19.2375 45.2093 19.7625C46.3343 20.2875 47.2593 21 47.9843 21.9C48.7093 22.8 49.2468 23.85 49.5968 25.05C49.9718 26.225 50.1593 27.4875 50.1593 28.8375V30.4125H37.1468V30.9C37.1468 32.325 37.5468 33.475 38.3468 34.35C39.1468 35.2 40.3343 35.625 41.9093 35.625C43.1093 35.625 44.0843 35.375 44.8343 34.875C45.6093 34.375 46.2968 33.7375 46.8968 32.9625L49.4843 35.85C48.6843 36.975 47.5843 37.8625 46.1843 38.5125C44.8093 39.1375 43.2093 39.45 41.3843 39.45ZM41.3093 22.575C40.0343 22.575 39.0218 23 38.2718 23.85C37.5218 24.7 37.1468 25.8 37.1468 27.15V27.45H45.1718V27.1125C45.1718 25.7625 44.8343 24.675 44.1593 23.85C43.5093 23 42.5593 22.575 41.3093 22.575ZM60.7949 39.45C58.9199 39.45 57.3449 39.1375 56.0699 38.5125C54.7949 37.8625 53.6699 36.975 52.6949 35.85L55.6199 33C56.3449 33.825 57.1324 34.475 57.9824 34.95C58.8574 35.425 59.8574 35.6625 60.9824 35.6625C62.1324 35.6625 62.9574 35.4625 63.4574 35.0625C63.9824 34.6625 64.2449 34.1125 64.2449 33.4125C64.2449 32.8375 64.0574 32.3875 63.6824 32.0625C63.3324 31.7125 62.7199 31.475 61.8449 31.35L59.8949 31.0875C57.7699 30.8125 56.1449 30.2125 55.0199 29.2875C53.9199 28.3375 53.3699 26.9625 53.3699 25.1625C53.3699 24.2125 53.5449 23.3625 53.8949 22.6125C54.2449 21.8375 54.7449 21.1875 55.3949 20.6625C56.0449 20.1125 56.8199 19.7 57.7199 19.425C58.6449 19.125 59.6699 18.975 60.7949 18.975C61.7449 18.975 62.5824 19.05 63.3074 19.2C64.0574 19.325 64.7324 19.525 65.3324 19.8C65.9324 20.05 66.4824 20.375 66.9824 20.775C67.4824 21.15 67.9699 21.575 68.4449 22.05L65.6324 24.8625C65.0574 24.2625 64.3699 23.7625 63.5699 23.3625C62.7699 22.9625 61.8949 22.7625 60.9449 22.7625C59.8949 22.7625 59.1324 22.95 58.6574 23.325C58.2074 23.7 57.9824 24.1875 57.9824 24.7875C57.9824 25.4375 58.1699 25.9375 58.5449 26.2875C58.9449 26.6125 59.6074 26.85 60.5324 27L62.5199 27.2625C66.7449 27.8625 68.8574 29.7875 68.8574 33.0375C68.8574 33.9875 68.6574 34.8625 68.2574 35.6625C67.8824 36.4375 67.3449 37.1125 66.6449 37.6875C65.9449 38.2375 65.0949 38.675 64.0949 39C63.1199 39.3 62.0199 39.45 60.7949 39.45ZM78.9153 39C77.2653 39 76.0028 38.575 75.1278 37.725C74.2778 36.85 73.8528 35.6125 73.8528 34.0125V23.25H70.9653V19.425H72.4653C73.1903 19.425 73.6778 19.2625 73.9278 18.9375C74.2028 18.5875 74.3403 18.075 74.3403 17.4V14.0625H78.6528V19.425H82.6653V23.25H78.6528V35.175H82.3653V39H78.9153ZM89.2287 16.575C88.2287 16.575 87.5037 16.35 87.0537 15.9C86.6287 15.45 86.4162 14.875 86.4162 14.175V13.425C86.4162 12.725 86.6287 12.15 87.0537 11.7C87.5037 11.25 88.2287 11.025 89.2287 11.025C90.2037 11.025 90.9162 11.25 91.3662 11.7C91.8162 12.15 92.0412 12.725 92.0412 13.425V14.175C92.0412 14.875 91.8162 15.45 91.3662 15.9C90.9162 16.35 90.2037 16.575 89.2287 16.575ZM86.8287 19.425H91.6287V39H86.8287V19.425ZM104.955 39.45C103.555 39.45 102.292 39.2125 101.167 38.7375C100.067 38.2625 99.1175 37.575 98.3175 36.675C97.5425 35.775 96.9425 34.7 96.5175 33.45C96.0925 32.175 95.88 30.75 95.88 29.175C95.88 27.6 96.0925 26.1875 96.5175 24.9375C96.9425 23.6875 97.5425 22.625 98.3175 21.75C99.1175 20.85 100.067 20.1625 101.167 19.6875C102.292 19.2125 103.555 18.975 104.955 18.975C106.355 18.975 107.617 19.2125 108.742 19.6875C109.867 20.1625 110.817 20.85 111.592 21.75C112.392 22.625 113.005 23.6875 113.43 24.9375C113.855 26.1875 114.067 27.6 114.067 29.175C114.067 30.75 113.855 32.175 113.43 33.45C113.005 34.7 112.392 35.775 111.592 36.675C110.817 37.575 109.867 38.2625 108.742 38.7375C107.617 39.2125 106.355 39.45 104.955 39.45ZM104.955 35.5875C106.23 35.5875 107.23 35.2 107.955 34.425C108.68 33.65 109.042 32.5125 109.042 31.0125V27.375C109.042 25.9 108.68 24.775 107.955 24C107.23 23.225 106.23 22.8375 104.955 22.8375C103.705 22.8375 102.717 23.225 101.992 24C101.267 24.775 100.905 25.9 100.905 27.375V31.0125C100.905 32.5125 101.267 33.65 101.992 34.425C102.717 35.2 103.705 35.5875 104.955 35.5875ZM118.323 39V19.425H123.123V22.6875H123.31C123.71 21.6375 124.335 20.7625 125.185 20.0625C126.06 19.3375 127.26 18.975 128.785 18.975C130.81 18.975 132.36 19.6375 133.435 20.9625C134.51 22.2875 135.048 24.175 135.048 26.625V39H130.248V27.1125C130.248 25.7125 129.998 24.6625 129.498 23.9625C128.998 23.2625 128.173 22.9125 127.023 22.9125C126.523 22.9125 126.035 22.9875 125.56 23.1375C125.11 23.2625 124.698 23.4625 124.323 23.7375C123.973 23.9875 123.685 24.3125 123.46 24.7125C123.235 25.0875 123.123 25.5375 123.123 26.0625V39H118.323ZM210.535 39V19.425H215.335V22.6875H215.522C215.897 21.6625 216.497 20.7875 217.322 20.0625C218.147 19.3375 219.297 18.975 220.772 18.975C222.122 18.975 223.285 19.3 224.26 19.95C225.235 20.6 225.96 21.5875 226.435 22.9125H226.51C226.86 21.8125 227.547 20.8875 228.572 20.1375C229.622 19.3625 230.935 18.975 232.51 18.975C234.435 18.975 235.91 19.6375 236.935 20.9625C237.985 22.2875 238.51 24.175 238.51 26.625V39H233.71V27.1125C233.71 24.3125 232.66 22.9125 230.56 22.9125C230.085 22.9125 229.622 22.9875 229.172 23.1375C228.747 23.2625 228.36 23.4625 228.01 23.7375C227.685 23.9875 227.422 24.3125 227.222 24.7125C227.022 25.0875 226.922 25.5375 226.922 26.0625V39H222.122V27.1125C222.122 24.3125 221.072 22.9125 218.972 22.9125C218.522 22.9125 218.072 22.9875 217.622 23.1375C217.197 23.2625 216.81 23.4625 216.46 23.7375C216.135 23.9875 215.86 24.3125 215.635 24.7125C215.435 25.0875 215.335 25.5375 215.335 26.0625V39H210.535ZM251.586 39.45C250.186 39.45 248.923 39.2125 247.798 38.7375C246.698 38.2625 245.748 37.575 244.948 36.675C244.173 35.775 243.573 34.7 243.148 33.45C242.723 32.175 242.511 30.75 242.511 29.175C242.511 27.6 242.723 26.1875 243.148 24.9375C243.573 23.6875 244.173 22.625 244.948 21.75C245.748 20.85 246.698 20.1625 247.798 19.6875C248.923 19.2125 250.186 18.975 251.586 18.975C252.986 18.975 254.248 19.2125 255.373 19.6875C256.498 20.1625 257.448 20.85 258.223 21.75C259.023 22.625 259.636 23.6875 260.061 24.9375C260.486 26.1875 260.698 27.6 260.698 29.175C260.698 30.75 260.486 32.175 260.061 33.45C259.636 34.7 259.023 35.775 258.223 36.675C257.448 37.575 256.498 38.2625 255.373 38.7375C254.248 39.2125 252.986 39.45 251.586 39.45ZM251.586 35.5875C252.861 35.5875 253.861 35.2 254.586 34.425C255.311 33.65 255.673 32.5125 255.673 31.0125V27.375C255.673 25.9 255.311 24.775 254.586 24C253.861 23.225 252.861 22.8375 251.586 22.8375C250.336 22.8375 249.348 23.225 248.623 24C247.898 24.775 247.536 25.9 247.536 27.375V31.0125C247.536 32.5125 247.898 33.65 248.623 34.425C249.348 35.2 250.336 35.5875 251.586 35.5875ZM271.366 39.45C269.491 39.45 267.916 39.1375 266.641 38.5125C265.366 37.8625 264.241 36.975 263.266 35.85L266.191 33C266.916 33.825 267.704 34.475 268.554 34.95C269.429 35.425 270.429 35.6625 271.554 35.6625C272.704 35.6625 273.529 35.4625 274.029 35.0625C274.554 34.6625 274.816 34.1125 274.816 33.4125C274.816 32.8375 274.629 32.3875 274.254 32.0625C273.904 31.7125 273.291 31.475 272.416 31.35L270.466 31.0875C268.341 30.8125 266.716 30.2125 265.591 29.2875C264.491 28.3375 263.941 26.9625 263.941 25.1625C263.941 24.2125 264.116 23.3625 264.466 22.6125C264.816 21.8375 265.316 21.1875 265.966 20.6625C266.616 20.1125 267.391 19.7 268.291 19.425C269.216 19.125 270.241 18.975 271.366 18.975C272.316 18.975 273.154 19.05 273.879 19.2C274.629 19.325 275.304 19.525 275.904 19.8C276.504 20.05 277.054 20.375 277.554 20.775C278.054 21.15 278.541 21.575 279.016 22.05L276.204 24.8625C275.629 24.2625 274.941 23.7625 274.141 23.3625C273.341 22.9625 272.466 22.7625 271.516 22.7625C270.466 22.7625 269.704 22.95 269.229 23.325C268.779 23.7 268.554 24.1875 268.554 24.7875C268.554 25.4375 268.741 25.9375 269.116 26.2875C269.516 26.6125 270.179 26.85 271.104 27L273.091 27.2625C277.316 27.8625 279.429 29.7875 279.429 33.0375C279.429 33.9875 279.229 34.8625 278.829 35.6625C278.454 36.4375 277.916 37.1125 277.216 37.6875C276.516 38.2375 275.666 38.675 274.666 39C273.691 39.3 272.591 39.45 271.366 39.45Z"
        fill="#242426"></path>
      <path
        d="M156.869 39L154.769 32.325H145.469L143.406 39H138.381L147.156 12.825H153.306L162.006 39H156.869ZM150.194 17.325H150.006L146.669 28.0875H153.569L150.194 17.325ZM165.564 19.425H170.364V22.65H170.514C170.864 21.525 171.527 20.6375 172.502 19.9875C173.477 19.3125 174.614 18.975 175.914 18.975C178.414 18.975 180.314 19.8625 181.614 21.6375C182.939 23.3875 183.602 25.9 183.602 29.175C183.602 32.475 182.939 35.0125 181.614 36.7875C180.314 38.5625 178.414 39.45 175.914 39.45C174.614 39.45 173.477 39.1125 172.502 38.4375C171.552 37.7625 170.889 36.8625 170.514 35.7375H170.364V46.5H165.564V19.425ZM174.377 35.475C175.627 35.475 176.639 35.0625 177.414 34.2375C178.189 33.4125 178.577 32.3 178.577 30.9V27.525C178.577 26.125 178.189 25.0125 177.414 24.1875C176.639 23.3375 175.627 22.9125 174.377 22.9125C173.227 22.9125 172.264 23.2 171.489 23.775C170.739 24.35 170.364 25.1125 170.364 26.0625V32.2875C170.364 33.3125 170.739 34.1 171.489 34.65C172.264 35.2 173.227 35.475 174.377 35.475ZM188.049 19.425H192.849V22.65H192.999C193.349 21.525 194.012 20.6375 194.987 19.9875C195.962 19.3125 197.099 18.975 198.399 18.975C200.899 18.975 202.799 19.8625 204.099 21.6375C205.424 23.3875 206.087 25.9 206.087 29.175C206.087 32.475 205.424 35.0125 204.099 36.7875C202.799 38.5625 200.899 39.45 198.399 39.45C197.099 39.45 195.962 39.1125 194.987 38.4375C194.037 37.7625 193.374 36.8625 192.999 35.7375H192.849V46.5H188.049V19.425ZM196.862 35.475C198.112 35.475 199.124 35.0625 199.899 34.2375C200.674 33.4125 201.062 32.3 201.062 30.9V27.525C201.062 26.125 200.674 25.0125 199.899 24.1875C199.124 23.3375 198.112 22.9125 196.862 22.9125C195.712 22.9125 194.749 23.2 193.974 23.775C193.224 24.35 192.849 25.1125 192.849 26.0625V32.2875C192.849 33.3125 193.224 34.1 193.974 34.65C194.749 35.2 195.712 35.475 196.862 35.475Z"
        fill="#E6622E"></path>
      <path
        d="M319.396 13.0352V9.14886H331.056V43.9318H292.581V36.1591H296.467V40.0455H326.975V13.0352H319.396Z"
        fill="#E6622E"></path>
      <path d="M292.386 28.775V9.3432H311.43V28.775H292.386Z" fill="white"
      ></path>
      <path d="M300.159 20.8079V13.0352H304.046V20.8079H300.159Z" fill="#2F2E41"
      ></path>
      <path d="M304.045 24.6943V20.8079H307.932V24.6943H304.045Z" fill="#2F2E41"
      ></path>
      <path d="M292.386 9.3432H288.5V28.775H292.386V9.3432Z" fill="#E6622E"
      ></path>
      <path d="M292.386 32.8556V28.775H311.624V32.8556H292.386Z" fill="#E6622E"
      ></path>
      <path d="M315.316 9.3432H311.429V28.775H315.316V9.3432Z" fill="#E6622E"
      ></path>
      <path d="M292.386 9.34319V5.26251H311.624V9.34319H292.386Z" fill="#E6622E"
      ></path>
    </g>
    <defs>
      <filter
        id="filter0_d_171_376"
        x="0"
        y="0"
        width="335.25"
        height="57"
        filterUnits="userSpaceOnUse"
        color-interpolation-filters="sRGB"
      >
        <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
        <feColorMatrix
          in="SourceAlpha"
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          result="hardAlpha"></feColorMatrix>
        <feOffset dy="4"></feOffset>
        <feGaussianBlur stdDeviation="2"></feGaussianBlur>
        <feComposite in2="hardAlpha" operator="out"></feComposite>
        <feColorMatrix
          type="matrix"
          values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"></feColorMatrix>
        <feBlend
          mode="normal"
          in2="BackgroundImageFix"
          result="effect1_dropShadow_171_376"></feBlend>
        <feBlend
          mode="normal"
          in="SourceGraphic"
          in2="effect1_dropShadow_171_376"
          result="shape"></feBlend>
      </filter>
    </defs>
  </svg>
  <div class="flex gap-x-6">
    <ButtonTeacherRol />
    <ButtonStudentRol />
  </div>
</header>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
</style>
