---
import Hat from "@/icons/Hat.astro";
import Ideal from "@/icons/Ideal.astro";
import Rocket from "@/icons/Rocket.astro";
---

<teach class="flex flex-col justify-center text-black py-12">
  <h2 class="mb-4 text-center">Empieza a enseñar</h2>
  <div class="flex flex-wrap justify-center items-center">
    <div class="flex flex-col">
      <a class=""><Hat /></a>
      <a class="mb-2 text-left">Explora y contacta gratis con los profesores</a>
      <a class="text-left"
        >Tienes en tus manos el mayor listado de profesores de España.</a
      >
    </div>
    <div class="flex flex-col">
      <a class=""><Ideal /></a>
      <a class="mb-2 text-left">Elige al profesor ideal desde tan solo 9€/h</a>
      <a class="text-left">Encuentra a tu profesor según tus necesidades.</a>
    </div>
    <div class="flex flex-col">
      <a class=""><Rocket /></a>
      <a class="mb-2 text-left">Aprende a tu propio ritmo</a>
      <a class="text-left">Con las clases particulares personalizadas.</a>
    </div>
  </div>
</teach>
