---
import HeroInfo from '@/components/HeroInfo.astro'
---

<section class="flex flex-row my-32">
	<HeroInfo />
	<img
		src="img/girl-in-meeting.svg"
		alt="Dibujo de una mujer en una reunión online"
		class="hidden lg:w-1/2 lg:block aspect-auto"
	/>
</section>
