---
import HeroInfo from "@/components/HeroInfo.svelte"
---

<section class="mx-10 my-32 flex flex-row">
	<HeroInfo client:idle />
	<img
		src="img/girl-in-meeting.svg"
		alt="Dibujo de una mujer en una reunión online"
		class="hidden aspect-auto lg:block lg:w-1/2"
	/>
</section>
