<section class="my-20 flex flex-col items-center justify-center">
	<h2 class="mb-20 text-3xl font-semibold lg:text-5xl">¿Qué aprender hoy?</h2>
	<div class="flex flex-row flex-wrap justify-center">
		<article class="mx-16 mb-8 h-3/4 w-64 rounded-lg border border-black px-8 py-8">
			<div class="mb-8 flex flex-col gap-4 text-center text-xl">
				<p>Fútbol</p>
				<p>Ingeniería</p>
				<p>Dibujo</p>
				<p>Apoyo Escolar</p>
				<p>Contabilidad</p>
				<p>Alemán</p>
				<p>Chino</p>
				<p>Japonés</p>
				<p>Programación</p>
				<p>Batería</p>
			</div>
			<a href="/signup" class="justify-self-start text-primary">Buscar más →</a>
		</article>
		<div class="mb-8">
			<article class="mx-16 w-64 rounded-lg border border-black px-8 py-8">
				<div class="mb-8 flex flex-col gap-4 text-center text-xl">
					<p>Italiano</p>
					<p>Biología</p>
					<p>Estadística</p>
					<p>Solfeo</p>
					<p>Baile</p>
					<p>Español</p>
					<p>Matemáticas</p>
				</div>
				<a href="/signup" class="justify-self-start text-primary">Buscar más →</a>
			</article>
			<img
				src="img/girl-with-calendar.svg"
				alt="Dibujo de una mujer junto a un calendario"
				class="ml-16"
			/>
		</div>
		<article class="mx-16 mb-8 h-3/4 w-64 rounded-lg border border-black px-8 py-8">
			<div class="mb-8 flex flex-col gap-4 text-center text-xl">
				<p>Yoga</p>
				<p>Violín</p>
				<p>Inglés</p>
				<p>Excel</p>
				<p>AutoCAD</p>
				<p>Derecho Civil</p>
				<p>Ruso</p>
				<p>Cocina</p>
				<p>Python</p>
				<p>Física</p>
			</div>
			<a href="/signup" class="justify-self-start text-primary">Buscar más →</a>
		</article>
	</div>
</section>
