<section class="flex flex-col justify-center items-center my-20">
  <h2 class="mb-20 text-3xl lg:text-5xl font-semibold">¿Qué aprender hoy?</h2>
  <div class="flex flex-row flex-wrap justify-center">
		<article class="border border-black rounded-lg px-8 py-8 mb-8 w-64 mx-16 h-3/4">
			<div class="flex flex-col text-center text-xl gap-4 mb-8">
				<p>Fútbol</p>
				<p>Ingeniería</p>
				<p>Dibujo</p>
				<p>Apoyo Escolar</p>
				<p>Contabilidad</p>
				<p>Alemán</p>
				<p>Chino</p>
				<p>Japonés</p>
				<p>Programación</p>
				<p>Batería</p>
			</div>
			<a href="#" class="justify-self-start text-primary">Buscar más →</a>
		</article>
		<div class="mb-8">
			<article class="border border-black rounded-lg px-8 py-8 w-64 mx-16">
				<div class="flex flex-col text-center text-xl gap-4 mb-8">
					<p>Italiano</p>
					<p>Biología</p>
					<p>Estadística</p>
					<p>Solfeo</p>
					<p>Baile</p>
					<p>Español</p>
					<p>Matemáticas</p>
				</div>
				<a href="#" class="justify-self-start text-primary">Buscar más →</a>
			</article>
			<img 
				src="img/girl-with-calendar.svg" 
				alt="Dibujo de una mujer junto a un calendario"
				class="ml-16"
			/>
		</div>
		<article class="border border-black rounded-lg px-8 py-8 mb-8 w-64 mx-16 h-3/4">
			<div class="flex flex-col text-center text-xl gap-4 mb-8">
				<p>Yoga</p>
				<p>Violín</p>
				<p>Inglés</p>
				<p>Excel</p>
				<p>AutoCAD</p>
				<p>Derecho Civil</p>
				<p>Ruso</p>
				<p>Cocina</p>
				<p>Python</p>
				<p>Física</p>
			</div>
			<a href="#" class="justify-self-start text-primary">Buscar más →</a>
		</article>
  </div>
</section>
