---
import Star from "@/icons/Star.astro"
import OpinionsCarrousel from "@/components/OpinionsCarrousel.svelte"
---

<section class="my-20 flex flex-col items-center justify-center">
	<h2 class="mb-20 text-3xl font-semibold lg:text-5xl">Tu voz cuenta</h2>
	<div class="flex flex-row justify-center">
		<img
			src="img/girl-in-wheelchair.svg"
			alt="Dibujo de una mujer en silla de ruedas"
			class="hidden aspect-auto lg:block lg:h-[28rem]"
		/>
		<div class="margin-auto ml-32">
			<article class="mb-8 w-96 rounded-lg border border-black px-8 py-8">
				<a class="mb-4 font-medium">Padre de un estudiante de Física</a>
				<p>
					El profesor tiene mucho dominio, es paciente y adapta sus clases a las necesidades de mi
					hijo. Las notas mejoraron mucho. Muy recomendable.
				</p>
				<div class="mt-4 flex flex-row justify-end">
					<Star />
					<Star />
					<Star />
					<Star />
					<Star />
				</div>
			</article>
			<article class="mb-8 w-96 rounded-lg border border-black px-8 py-8">
				<a class="mb-4 font-medium">Estudiante de Python</a>
				<p>
					El profesor tiene un gran conocimiento de Python, gracias a él he aprendido mucho. Lo
					recomiendo al 100%.
				</p>
				<div class="mt-4 flex flex-row justify-end">
					<Star />
					<Star />
					<Star />
					<Star />
					<Star />
				</div>
			</article>
		</div>
	</div>
</section>
