---
import Opinions from "@/components/Opinions.astro"
---

<section class="my-20 flex flex-col items-center justify-center">
	<h2 class="mb-20 text-3xl font-semibold lg:text-5xl">Tu voz cuenta</h2>
	<div class="flex flex-row justify-center">
		<img
			src="img/girl-in-wheelchair.svg"
			alt="Dibujo de una mujer en silla de ruedas"
			class="hidden aspect-auto lg:block lg:h-[28rem]"
			loading="lazy"
		/>
		<div class="mx-4 mobile:mx-auto lg:ml-32">
			<Opinions
				who="Padre de un estudiante de Física"
				opinion="El profesor tiene mucho dominio, es paciente y adapta sus clases a las necesidades de mi hijo. Las notas mejoraron mucho. Muy recomendable."
				stars={4}
			/>
			<Opinions
				who="Estudiante de Python"
				opinion="El profesor tiene un gran conocimiento de Python, gracias a él he aprendido mucho. Lo recomiendo al 100%."
				stars={5}
			/>
		</div>
	</div>
</section>
