---
import Hat from "@/icons/Hat.astro"
import Ideal from "@/icons/Ideal.astro"
import Rocket from "@/icons/Rocket.astro"
---

<section class="my-20 flex flex-col items-center justify-center">
	<h2 class="mb-20 text-3xl font-semibold lg:text-5xl">Empieza a enseñar</h2>
	<div class="flex w-full flex-col items-center justify-between lg:flex-row">
		<article class="flex w-72 flex-col">
			<header>
				<Hat />
				<h1 class="mb-2 text-left text-xl font-bold">
					Explora y contacta gratis con los profesores
				</h1>
			</header>
			<p class="text-left text-lg">Tienes en tus manos el mayor listado de profesores de España.</p>
		</article>
		<article class="my-7 flex w-72 flex-col lg:my-0">
			<header>
				<Ideal />
				<h1 class="mb-2 text-left text-xl font-bold">
					Elige al profesor ideal desde tan solo 9€/h
				</h1>
			</header>
			<p class="text-left text-lg">Encuentra a tu profesor según tus necesidades.</p>
		</article>
		<article class="flex w-72 flex-col">
			<header>
				<Rocket />
				<h1 class="mb-2 text-left text-xl font-bold">Aprende a tu propio ritmo</h1>
			</header>
			<p class="text-left text-lg">Con las clases particulares personalizadas.</p>
		</article>
	</div>
</section>
