---
interface Props {
	title: string
	description: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{title}</title>
		<meta name="author" content="PS-G1-Lab" />
		<meta name="description" content={!description ? title : description} />
		<meta name="robots" content="index, follow" />
		<meta name="theme-color" content="#E6622E" />
		<meta name="keywords" content="clases particulares, horarios, gestión horaria" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href="localhost:4321" />
		<meta name="application-name" content="localhost:4321" />
		<link rel="apple-touch-icon" sizes="180x180" href="/favicon.svg" />
		<meta name="apple-mobile-web-app-title" content="localhost:4321" />
	</head>
	<body>
		<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
