---
import HeaderWeb from "@/components/HeaderRegistro.astro";
import Title from "@/components/Title.astro";
import Form from "@/components/FormTeacher.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale-1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <main>
    <HeaderWeb />
    <div class="flex flex-row pl-24 pr-44 items-center justify-between pt-11">
      <svg
        width="724"
        height="466"
        viewBox="0 0 724 466"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M706.87 269.129H16.7754C7.52539 269.129 0 261.604 0 252.353V16.7754C0 7.52539 7.52539 0 16.7754 0H706.87C716.12 0 723.646 7.52539 723.646 16.7754V252.353C723.646 261.604 716.12 269.129 706.87 269.129ZM16.7754 2C8.62842 2 2 8.62842 2 16.7754V252.353C2 260.5 8.62842 267.129 16.7754 267.129H706.87C715.017 267.129 721.646 260.5 721.646 252.353V16.7754C721.646 8.62842 715.017 2 706.87 2H16.7754Z"
          fill="#3F3D56"></path>
        <path
          d="M309.507 277.792C310.118 285.472 314.576 291.382 319.463 290.993C324.351 290.603 327.816 284.062 327.204 276.379C327.001 273.307 326.066 270.328 324.476 267.691L321.476 235.184L306.251 236.917L310.825 268.779C309.672 271.635 309.22 274.726 309.507 277.792Z"
          fill="#FFB6B6"></path>
        <path
          d="M291.319 126.133C291.319 126.133 305.551 118.599 312.767 129.858C319.984 141.116 324.964 262.879 324.964 262.879L304.963 265.014L301.171 179.212L291.319 126.133Z"
          fill="#E6E6E6"></path>
        <path
          d="M261.78 458.204L273.368 458.203L278.88 413.509L261.778 413.51L261.78 458.204Z"
          fill="#FFB6B6"></path>
        <path
          d="M301.48 457.941C301.841 458.549 302.031 460.51 302.031 461.217C302.031 463.389 300.27 465.15 298.098 465.15H262.214C260.732 465.15 259.531 463.948 259.531 462.467V460.973C259.531 460.973 257.755 456.482 261.41 450.948C261.41 450.948 265.953 455.282 272.74 448.494L274.742 444.868L289.23 455.464L297.261 456.453C299.018 456.669 300.576 456.419 301.48 457.941Z"
          fill="#2F2E41"></path>
        <path
          d="M328.835 456.286L340.061 453.417L334.34 408.749L317.771 412.983L328.835 456.286Z"
          fill="#FFB6B6"></path>
        <path
          d="M367.235 446.205C367.735 446.705 368.404 448.558 368.579 449.243C369.117 451.347 367.847 453.489 365.742 454.026L330.974 462.908C329.538 463.275 328.077 462.408 327.71 460.973L327.341 459.525C327.341 459.525 324.509 455.614 326.681 449.347C326.681 449.347 332.154 452.421 337.051 444.165L338.093 440.157L354.753 446.837L362.779 445.807C364.535 445.582 365.982 444.954 367.235 446.205Z"
          fill="#2F2E41"></path>
        <path
          d="M252.194 116.525L251.645 112.538L258.174 96.5903L276.116 94.5968L279.99 117.428L252.194 116.525Z"
          fill="#FFB6B6"></path>
        <path
          opacity="0.1"
          d="M252.194 116.525L251.645 112.538L258.174 96.5903L276.116 94.5968L279.99 117.428L252.194 116.525Z"
          fill="black"></path>
        <path
          d="M231.262 229.158L223.288 251.086L229.269 263.047L259.171 436.481H279.051L275.119 282.982L320.969 436.481H340.645L324.823 332.819L312.995 237.132L305.822 232.7L271.132 213.21L231.262 229.158Z"
          fill="#2F2E41"></path>
        <path
          d="M282.096 244.109L270.135 246.103L254.187 208.226H290.07L282.096 244.109Z"
          fill="#E6E6E6"></path>
        <path
          d="M306.018 234.141L282.096 244.109L274.122 226.167L270.135 246.102L228.271 232.626L234.252 208.226L228.271 128.486L249.383 114.412L252.193 112.538L278.109 114.532L280.382 115.768L296.05 124.499L300.037 190.285L306.018 234.141Z"
          fill="#2F2E41"></path>
        <path
          d="M280.382 115.768L269.138 163.372L249.383 114.412L252.194 112.538L278.109 114.532L280.382 115.768Z"
          fill="#E6E6E6"></path>
        <path
          d="M261.164 112.538L257.177 119.405L261.164 121.694L259.171 163.496L267.145 174.337L275.119 158.315L269.138 121.694L271.132 112.538H261.164Z"
          fill="#2F2E41"></path>
        <path
          d="M267.145 108.551C277.604 108.551 286.083 100.072 286.083 89.613C286.083 79.1537 277.604 70.6748 267.145 70.6748C256.685 70.6748 248.207 79.1537 248.207 89.613C248.207 100.072 256.685 108.551 267.145 108.551Z"
          fill="#FFB6B6"></path>
        <path
          d="M255.042 91.2742L259.134 93.0601L260.92 82.345C260.92 82.345 268.063 78.7734 273.421 80.5592C278.778 82.345 287.707 80.5592 287.707 80.5592C287.707 80.5592 287.707 62.7008 275.206 62.7008C262.706 62.7008 250.205 64.4866 250.205 69.8442C250.205 75.2017 244.847 80.5592 244.847 80.5592C244.847 80.5592 237.704 91.2742 244.847 98.4176C251.991 105.561 255.562 105.561 255.562 105.561L255.042 91.2742Z"
          fill="#2F2E41"></path>
        <path
          d="M218.295 277.232C218.088 284.934 221.893 291.283 226.794 291.415C231.695 291.546 235.836 285.41 236.042 277.706C236.167 274.629 235.553 271.568 234.252 268.777L234.72 236.135L219.397 236.242L220.563 268.41C219.113 271.127 218.336 274.153 218.295 277.232Z"
          fill="#FFB6B6"></path>
        <path
          d="M237.252 124.462C237.252 124.462 224.294 120.475 218.314 132.436C212.334 144.397 220.307 266 220.307 266H240.423L235.084 180.28L237.252 124.462Z"
          fill="#E6E6E6"></path>
        <path
          d="M445.87 243H410.13C407.297 243 405 245.297 405 248.13V262.87C405 265.703 407.297 268 410.13 268H445.87C448.703 268 451 265.703 451 262.87V248.13C451 245.297 448.703 243 445.87 243Z"
          fill="#3F3D56"></path>
        <path
          d="M520.87 257.74H485.13C482.297 257.74 480 260.037 480 262.87V262.87C480 265.703 482.297 268 485.13 268H520.87C523.703 268 526 265.703 526 262.87V262.87C526 260.037 523.703 257.74 520.87 257.74Z"
          fill="#E6622E"></path>
      </svg>
      <Form />
    </div>
  </main>
  <style>
    @tailwind base;
    @tailwind components;
    @tailwind utilities;
  </style>


</html>
